body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,149,150,1) 0%);
}
.navbar-container{
    margin-top: 20px;
    margin-left: 45%;
    color: white;
    width: 100%;
   
}
.navbar-container a{
    padding-top: 100%;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    padding: 12px;

}
.navbar-container input{
    border-radius: 10px;
    height: 15px;
    width: 180px;
    border-color: aliceblue;
}
.navbar-container a:hover{
    box-shadow: 1px 1px 1px 1px green;
}
.section-container{
    margin: 30px;
    display: flex;
}
.section-container img{
        height: 500px;
        width: 700px;
        padding-left: 40px;
        padding-top: 25px;
        border-radius: 45px;
}
.section-container button{
    margin-top: 25%;
    margin-right: 10px;
    margin-left: 40px;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(5, 25, 31);
    color: white;
    font-family: 'Roboto Mono', monospace;
}
.section-container button:hover{
    box-shadow: 1px 1px 1px 1px white;


}